<div class="container payment-notice">
  <div class="row success-alert">
    <div class="col">
      <div class="alert alert-success" role="alert">
        You payment is successfull.
      </div>
    </div>
  </div>
  <div class="row payment-success">
    <div class="col">
      <div class="invoice-title">
        <h4>Invoice</h4>
        <h6 class="pull-right">Order # {{orderId}}</h6>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <address>
            <strong>Billed To:</strong><br>
            {{name}}<br>
            {{address}}
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Shipped To:</strong><br>
            {{address}}
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <address>
            <strong>Payment Method:</strong><br>
            online<br>
            {{email}}
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Order Date:</strong><br>
            {{date}}<br><br>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Order summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td class="text-center"><strong>Item</strong></td>
                  <td class="text-center"><strong>Price</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">{{item}}</td>
                  <td class="text-center">Rs. {{price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>