<div class="wrapper" style="background-image: url('assets/img/ganesha.jpeg')">
  <!-- <ul class="list-inline">
    <li class="nav-item list-inline-item">
      <a class="nav-link" rel="tooltip" title="Shop" data-placement="bottom" [routerLink]="['/shop/list']">Shop</a>
    </li>
    <li class="nav-item list-inline-item">
      <a class="nav-link" rel="tooltip" title="About Us" data-placement="bottom" [routerLink]="['/shop/about']">About
        Us</a>
    </li>
    <li class="nav-item list-inline-item">
      <a class="nav-link" rel="tooltip" title="FAQ" data-placement="bottom" href="home">FAQ</a>
    </li>
  </ul> -->
  <div class="page-header section-dark" style="background-image: url('assets/img/ganesha.jpeg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h2 class="text-uppercase about-us-text">About us</h2>
            <p class="about-us-text">Here at Incense Flow, we are all about quality products and excellent customer
              service. We are an online
              company selling a wide variety of high-quality incense flow burners and incense flow cones. We make it
              easy to
              find and shop for your favorite incense fragrances, ranging from cherry vanilla and green tea to jasmine
              and
              eaglewood.
            </p>
            <p class="about-us-text">With free shipping over 500, you're sure to find something you love while saving
              some cash. Our incense
              flow
              burners create unique cascading smoke, utilizing specialty high-quality backflow incense cones that
              create the
              waterfall flow effect. Our products will comfort and calm you, whether you use incense for a sense of
              peace and
              feeling of connection with your inner self or just because you love the smell. </p>
          </div>
          <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="http://gdurl.com/RiEh" alt="" class="img-responsive">
              </div> -->
        </div>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>

</div>