<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/ganesha.jpeg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h4 class="presentation-title">Calmness is inside us...</h4>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Trending <b>Products</b></h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <!--This should repeat-->
          <div class="item carousel-item active">
            <div class="row">
              <div class="col-sm-3" *ngFor="let product of products">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="{{product.image}}" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>{{product.name}}</h4>
                    <p class="item-price"><s>{{("RS. " + (product.price * 5/3).toString().substring(0, 5))}}</s> &nbsp;<span>Rs.
                        {{product.price}}</span></p>
                    <div class="star-rating">
                      <div class="rating">
                        <div class="stars">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">{{product.review}} reviews</span>
                      </div>
                    </div>
                    <button type="button" class="btn btn-success" (click)="goToDetailsPage(product.id)">Buy
                      Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>