<div class="wrapper" style="background-image: url('assets/img/ganesha.jpeg')">
  <div>
    <div class="d-flex flex-row">
      <div class="p-2"><a class="nav-link" rel="tooltip" title="Shop" data-placement="bottom" [routerLink]="['/shop/list']">Shop</a></div>
      <div class="p-2"><a class="nav-link" rel="tooltip" title="About Us" data-placement="bottom" [routerLink]="['/shop/about']">About
          Us</a></div>
      <div class="p-2"><a class="nav-link" rel="tooltip" title="FAQ" data-placement="bottom" [routerLink]="['/shop/faq']">FAQ</a></div>
    </div>
  </div>
  <div class="page-header section-dark" style="background-image: url('assets/img/ganesha.jpeg')">
    <div class="filter"></div>
    <div class="container">
      <div id="accordion">
        <div class="card no-transition">
          <div class="card-header">
            <h5 class="mb-0 panel-title">
              <a (click)="show=1">
                How can I Track my Orders?
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </div>
          <div *ngIf="show==1">
            <div class="card-body">
              You will get the tracking and payment id. with it you can always track you product or you can diretly
              call our store representative at +919885065575.
            </div>
          </div>
          <div class="card-header">
            <h5 class="mb-0 panel-title">
              <a (click)="show=2">
                How can I initiate return?
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </div>
          <div *ngIf="show==2">
            <div class="card-body">
              You can return you product with the initiated payment ID and for more information you can diretly
              call our store representative at +919885065575.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>